body{

margin:0;

font-family:Poppins,sans-serif;

}

nav{

display:flex;

justify-content:center;

gap:30px;

background:#0A1931;

padding:20px;

}

nav a{

color:white;

text-decoration:none;

font-weight:bold;

}

div{

text-align:center;

padding:40px;

}