# MongoDB connection string
# Local MongoDB:
MONGO_URI=mongodb://127.0.0.1:27017/week3_userdb

# OR MongoDB Atlas (cloud) example:
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/week3_userdb

# Server port
PORT=5000

# JWT secret - change this to a long random string in production
JWT_SECRET=this_is_a_super_secret_key_change_me_in_production
JWT_EXPIRES_IN=1d
