.card {
  background: white;
  width: 320px;
  padding: 25px;
  border-radius: 20px;

  box-shadow:
    0 4px 12px
    rgba(0,0,0,0.08);

  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.badge {
  background: #2563EB;
  color: white;

  padding: 8px 16px;
  border-radius: 30px;

  font-size: 14px;
}

.card h2 {
  margin-top: 20px;
  color: #111827;
}

.card p {
  margin-top: 15px;
  color: #4B5563;
  line-height: 1.7;
}